.alertArea {
    height: 80px;
    color: rgb(219, 48, 48);
    width: 320px;
    margin-top: 10px;
    position: relative;
}

.invalidCredentials {
    font-size: small;
    order: 2;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.expiredToken {
    color: rgb(27, 27, 27);
}

.change {
    color: #379392;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    line-height: 0px;
    height: 22px;
    width: 100px;
    order: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.alert {
    order: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}