

input{
    border: 1px solid #666666;
    color: #666666;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px 9px;
    width: 300px;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    transition: 0.3s;
    outline: none
}

input:hover {
    -moz-box-shadow: 0px 0px 4px #095a8b;
    -webkit-box-shadow: 0px 0px 4px #095a8b;
    box-shadow: 0px 0px 4px #095a8b;
}

input:disabled {
    background: #ededed;
    -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;

}

label {
    font-weight: bold;
    color: rgb(61, 79, 88);
}

.check {
    position: relative;
    right: 0%;
    top: 48px;
}

.NextLoginBtn {
    background-color: #063b5b;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 16px;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
}

.NextLoginBtn:hover {
    background-color: #095a8b;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff; 
}

.NextLoginBtn:disabled {
    background: #90949e;
}




