.form-wrapper{
    padding-top: 36px;
    padding-right: 51px;
    padding-bottom: 36px;
    padding-left: 51px;
    -moz-box-shadow: 0px 0px 7px #8e8e8e;
    -webkit-box-shadow: 0px 0px 7px #8e8e8e;
    box-shadow: 0px 0px 7px #8e8e8e;
    width: 380px;
    height: 100vh;
    background-color: white;
}
