.form-wrapper{
    padding-top: 36px;
    padding-right: 51px;
    padding-bottom: 36px;
    padding-left: 51px;
    -moz-box-shadow: 0px 0px 7px #8e8e8e;
    -webkit-box-shadow: 0px 0px 7px #8e8e8e;
    box-shadow: 0px 0px 7px #8e8e8e;
    width: 380px;
    height: 100vh;
    background-color: white;
}
.aa{
    height: 300px;
    width: 500px;
    background-color: brown;
    display: flex;
    flex-direction:  row;

    align-items:flex-end;
   justify-content: space-between;
   flex-direction: row-reverse;

}
.bb {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    order: 1;
    /* top: 0px; */

}
.nn {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    order: 2;

}