.avatarWrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;

}

.userInfoWrapper {
    margin: 50px;
}
.email{
   font-size: medium;
   height: 10px;
   color: rgb(120, 120, 120);
}
.userName{
    line-height: 0.5;
}